h1, h2 {
	text-align: center;
	font-family: helvetica
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

/*.invisible {
	visibility: hidden;
} */

.question {
	background-color: white;
}

.yes{
	background-color: white;
}

.no{
	background-color: black;
}

.test{
	background-color: grey;
}

#button{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: auto;
    left:0; right:0;
    top:0; bottom:0;

}

.question #button{
background-color: red;
color: white;
box-shadow: 10px 10px 5px #000000;
}

.yes #button{
background-color: black;
color: white;

box-shadow: 10px 10px 5px #888888;
}

.no #button{

background-color: white;
color: black;



}

p { 
	text-align: center;
    vertical-align: middle;
    line-height: 300px;  
	font-size: 72px;
	font-family: Helvetica;
	font-weight: bold;
}